.intro-header-hero {
  height: 100vh;
  min-height: 500px;
  max-height: 900px;
  margin-bottom: 0;

  > .hero-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    .down-arrow {
      color: white;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -150%);
      transition: opacity 0.3s;
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }

    .cta-button {
      margin-top: 50px;
    }
  }
}
