.nav {
  .active {
    border-bottom: 2px solid #fff;
  }

  .subscribe-button {
    padding: 8px 20px !important;
    margin: 12px !important;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out,
                color 0.1s ease-in-out;

    &:hover {
      background-color: $gray-lighter !important;
      color: $gray-darker !important;
    }
  }
}
