// Navigation

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include sans-serif-font();

  .navbar-brand {
    font-weight: 700;
  }

  .navbar-header {
    .navbar-toggle {
      color: $gray-light;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .nav {
    li {
      a {
        font-size: 14px;
        letter-spacing: 1px;

        &.active {
          border-bottom: 2px solid #fff;
        }
      }

      &.vertical-line {
        width: 1px;
        // Center the vertical line: total height is 64px.
        height: 30px;
        top: 17px;
        margin: 0 $space-between-navbar-els;
        background-color: white;
      }

      &.shopping-bag {
        color: white;
        display: flex;
        align-items: center;
        height: 60px;
        margin: 0 $space-between-navbar-els;
      }
    }
  }
  @media only screen and (min-width: $screen-sm-min) {
    background: transparent;
    border-bottom: 1px solid transparent;
    padding: 10px 50px;

    .navbar-brand {
      color: white;
      padding: 20px $space-between-navbar-els;

      &:focus,
      &:hover {
        color: fade-out(white, 0.5);
      }
    }

    .nav {
      li {
        a {
          color: white;
          padding: 20px $space-between-navbar-els/2 5px;
          margin: 0 $space-between-navbar-els/2;

          &:focus,
          &:hover {
            color: fade-out(white, 0.5);
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1170px) {
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -85px;
      background-color: $fixed-nav-bg-color;
      border-bottom: 1px solid darken(white, 0.5);
      transition: transform 0.3s, box-shadow 0.3s;

      .navbar-brand {
        color: $gray-dark;

        &:focus,
        &:hover {
          color: $theme-primary;
        }
      }

      .nav {
        li {
          a {
            color: $gray-dark;

            &:focus,
            &:hover {
              color: $theme-primary;
            }

            &.active {
              border-color: $gray-dark;
            }
          }

          &.vertical-line {
            background-color: $gray-dark;
          }

          &.shopping-bag {
            color: $gray-dark;
          }
        }
      }
    }

    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      transform: translate3d(0, 100%, 0);
      box-shadow: 0 6px 9px $navbar-box-shadow-color;
    }
  }
}
