section.block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  .text-col,
  .text-row {
    margin-bottom: 35px;

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-xs-min) {
    padding: 100px 0;

    .text-row {
      margin-bottom: 60px;
    }
  }

  &:nth-of-type(even) {
    background-color: $section-bg-even;
  }

  &:nth-of-type(odd) {
    background-color: $section-bg-odd;
  }

  @media (max-width: $screen-sm-max) {
    .section-1-icon-text-block:nth-of-type(n+4) {
      margin-top: 40px;
    }
  }

  &.alternating-block {
    &:first-of-type {
      padding-top: 50px;
    }

    &:nth-of-type(even) {
      .img-col {
        float: left;
      }

      .text-col {
        float: right;
      }
    }

    &:nth-of-type(odd) {
      .img-col {
        float: right;
      }

      .text-col {
        float: left;
      }
    }
  }
}

#section-2,
#section-3 {
  .col-md-6 {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    .icon {
      flex: 0 0 40px;
    }
  }

  @media (max-width: $screen-sm-max) {
    .section-2-3-icon-text-block {
      margin-top: 20px;
    }

    .row:first-of-type .section-2-3-icon-text-block {
      margin-top: 0;
    }

    .row.margin-bottom-20 {
      margin-bottom: 0;
    }
  }
}

#section-4 {
  @media (max-width: $screen-sm-max) {
    .section-4-img-block:nth-of-type(n+4) {
      margin-top: 40px;
    }  
  }
}

#subscribe-section {
  .subscribe-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;

    .email-col {
      background-color: #ffffff;
      border-color: #ccc;
      flex: 1 0 auto;
      max-width: 500px;

      input {
        position: absolute;
        top: 20px;
      }
    }

    .submit-col {
      [type="submit"] {
        height: 65px;
        line-height: 35px;
      }
    }
  }
}
